[Unit]
Description=Hello World
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/hello-world
Restart=on-failure
DynamicUser=yes
KillSignal=SIGTERM
TimeoutStopSec=90s
EnvironmentFile=/etc/default/hello-world

[Install]
WantedBy=multi-user.target
